/*-- scss:rules --*/
.navbar {
  background-color: #ffc0cb !important;
}

.navbar-nav .nav-link,
.navbar-brand {
  color: #fff !important;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;

}
body, .quarto-dashboard, .page-content, main {
  background-color: #222222 !important;
}

/* Dashboard cards that contain charts */
.card,
.quarto-dashboard .card {
  background-color: #222222 !important;  
  border-color: #000 !important;
}
